include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py
recursive-include bear_model *.py

include bear_model/data/ysd1_lag_5_file_0_preshuf.tsv
include bear_model/models/train_bear_net.py
include bear_model/models/train_bear_ref.py
graft bear_model/models/config_files